{% extends 'base.html.twig' %}

{% block title %}Pays{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h2>Ajouter un pays</h2>
        {{ include('admin/admin_country/_form.html.twig', {button: 'Créer'}) }}
    </div>
{% endblock %}
