{% extends 'base.html.twig' %}

{% block title 'Groupes et artistes' %}

{% block body %}
<div class="container mt-4">
    <h1>Groupes & artistes</h1>
    <div class="row flex my-4">
        {% for band in bands %}
        <div class="col-xs-3 col-md-4 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">
                        <p>{{ band.artist }}</p>
                    </h2>
                    <div class="card-text">
                        {# mettre les styles dans des badges de couleur #}
                        <p>style</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
