{% extends 'base.html.twig' %}

{% block title 'Mes albums' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div class="mt-4 mb-5 text-center">
        <h1>Discothèque</h1>
    </div>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/music/src/Controller/AlbumsController.php'|file_link(0) }}">src/Controller/AlbumsController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/music/templates/albums/index.html.twig'|file_link(0) }}">templates/albums/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
