{% extends 'base.html.twig' %}

{% block title %}Styles{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h2>Modifier le style <i>{{ style.style }}</i></h2>
        {{ include('admin/admin_music_styles/_form.html.twig', {button: 'Modifier'}) }}

    </div>
{% endblock %}
